.Resposta{
  width: 60%;
  font-size: 1.3rem;
  text-align: center;

}
.Resposta th{

  border-bottom: 2px solid var(--rosa);
}
.Resposta td{
 padding-top: 1rem;
  
}
.Resposta th,tr{
  padding: 1rem 0;
  text-align: left;

}

@media screen and (min-width:0) and (max-width:768px) {
  .Resposta{
    width: 80%;
    font-size: .8rem;

  }
  .Resposta th,tr{
    padding: .6rem;
  
  }
}