.Tabela{
  width: 60%;
  background: var(--bg);

}
.Tabela th,td{
  padding: 1rem 0;
  font-size: 1.3rem;
  text-align: left;
}
.Tabela th{
  color: var(--rosa);

}
.Tabela tr:nth-child(2n-1){
  background: #fff;
 
}
@media screen and (min-width:0) and (max-width:768px) {
  .Tabela{
    width: 80%;
  }
  .Tabela th,td{
    padding: 0.8rem 0;
    font-size: .8rem;
    text-align: left;
  }
}